body {
  background-color: rgb(207, 210, 211);
}
.App {
  font-family: sans-serif;
  text-align: center;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(76, 163, 175);
  border-radius: 4px;
}
input:focus{
  background-color: darkgrey;
}
select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(76, 163, 175);
  border-radius: 4px;
}
select:hover{
  background-color: rgb(76, 163, 175);
}
option{
  background-color: white;
}
button {
  width: 360px;
  margin: 15px;
  background-color: rgb(76, 163, 175); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: rgb(255, 255, 255); /* Green */
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Create two equal columns that floats next to each other */
.column-left {
  background-color: rgb(117, 117, 117);
  float: left;
  width: 20%;
  margin-top: 30px;
  padding: 10px;
  height: 1200px;
}
.column-right {
  float: right;
  text-align: left;
  width: 75%;
  padding: 10px;
  height: 300px;
}
.column-right1 {
  float: left;
  text-align: left;
  line-height: 30px;
  width: 75%;
  padding: 10px;
  height: 300px;
  font-size: 22px;
}
.Heading {
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: -50px;
  vertical-align: top;
  background-color: rgb(71, 67, 67);
}
.HeadingInner {
  vertical-align: top;
  text-align: center;
  color: aliceblue;
}
.biggerLandingPageText{
  font-size: 22px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.colouredHeader{
  background-color: rgb(76, 163, 175);
}